<a href="https://colab.research.google.com/github/khalilkhan1111/python_practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Integers and Floats**

In [2]:
def calculator(operator, num1, num2):
    try:
        if not (isinstance(num1, (int, float)) and isinstance(num2, (int, float))):
            raise ValueError("Invalid input. Numbers expected.")

        if operator == '+':
            result = num1 + num2
        elif operator == '-':
            result = num1 - num2
        elif operator == '*':
            result = num1 * num2
        elif operator == '/':
            if num2 == 0:
                raise ZeroDivisionError("Cannot divide by zero.")
            result = num1 / num2
        else:
            raise ValueError("Invalid operator.")

        return result
    except (ValueError, ZeroDivisionError) as e:
        return str(e)

try:
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))
    operator = input("Enter the operator (+, -, *, /): ")

    result = calculator(operator, num1, num2)
    print("Result:", result)
except ValueError as ve:
    print("Error:", ve)
except ZeroDivisionError as zde:
    print("Error:", zde)

Enter the first number: 8.5
Enter the second number: 2
Enter the operator (+, -, *, /): -
Result: 6.5

**Introduction to Strings**

In [4]:
# Strings are immutable
a = "khalil!"
print(a)

khalil!

Length of a string

In [5]:
len(a)

7

slicing technique

In [8]:
#length is 0 to n-1
print(a[0:3])

kha

negative slicing

In [9]:
(a[-5:-2])

'ali'

upper and lower case

In [11]:
a.upper()

'KHALIL!'

In [12]:
a.lower()

'khalil!'

replace

In [16]:
print(a.replace( "khalil!","parveen!"))

parveen!

split

In [17]:
print(a.split())

['khalil!']

Write a Python function to get a string made of 4
copies of the last two characters of a specified string (length must be at least 2).

In [18]:
str1 = str(input())
def sub_str(str1):
    sub_str = str1[-2:]
    return sub_str * 4
print(sub_str(str1))

khalil
ilililil

Write a Python program to remove the nth index character from a nonempty string.

In [19]:
strn = str(input())
n = int(input())
def remove_char(str, n):
     first_part = str[:n]
     last_part = str[n+1:]
     return first_part + last_part
print(remove_char(strn, n))

khalil
3
khail

Write a Python program to change a given string to a new string where the first and last chars have been exchanged.

In [20]:
str1 = str(input())
def change_string(str1):
    return str1[-1:] + str1[1:-1] + str1[:1]
print(change_string(str1))

khalil
lhalik

**List**

Given a list, write a Python program to swap first and last element of the list.

In [21]:
a = [12, 35, 9, 56, 24]
def new_a(a) :
    return (a[-1:] + a[1:-1] + a[:1])
print(new_a(a))

[24, 35, 9, 56, 12]

Given two numbers, write a Python code to find the Maximum of these two numbers.

In [22]:
#list are mutable
a = [3,4,10]
a = ["Apple", "apple","zebra"]
print(max(a))

zebra

Given two numbers, write a Python code to find the Minimum of these two numbers.

In [23]:
a = [3,4,10]
a = ["Apple", "Zebra", "apple","zebra"]
print(min(a))

Apple

Check if an element exists in the list using the if-else statement

In [24]:
test_list = [1, 6, 3, 5, 3, 4]
n = (int(input()))
if n in test_list :
    print(True)
else :
    print(False)

4
True

list in list

In [25]:
myList=[[1, 2, 3, 4, 5], [12, 13, 23], [10, 20, 30], [11, 22, 33], [12, 24, 36]]
print(myList[3][2])

33

A list contains the average daily temperature(in degree Celsius) of
 a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [27]:
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
max_temp = max(temperatures)
max_temp_index = temperatures.index(max_temp)
min_temp = min(temperatures)
min_temp_index = temperatures.index(min_temp)
temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

removing nested

In [28]:
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
last = tech_companies[-1]
company = tech_companies[:3] + tech_companies[-1]
print(company)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

type check

In [29]:
print(type(tech_companies))

<class 'list'>

Tuple

In [30]:
my_tuple = (1,'a',3)
my_tuple

(1, 'a', 3)

type check

In [31]:
print(type(my_tuple))

<class 'tuple'>