<a href="https://colab.research.google.com/github/khalilkhan1111/python_practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Integers and Floats**

In [ ]:
def calculator(operator, num1, num2):
    try:
        if not (isinstance(num1, (int, float)) and isinstance(num2, (int, float))):
            raise ValueError("Invalid input. Numbers expected.")

        if operator == '+':
            result = num1 + num2
        elif operator == '-':
            result = num1 - num2
        elif operator == '*':
            result = num1 * num2
        elif operator == '/':
            if num2 == 0:
                raise ZeroDivisionError("Cannot divide by zero.")
            result = num1 / num2
        else:
            raise ValueError("Invalid operator.")

        return result
    except (ValueError, ZeroDivisionError) as e:
        return str(e)

try:
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))
    operator = input("Enter the operator (+, -, *, /): ")

    result = calculator(operator, num1, num2)
    print("Result:", result)
except ValueError as ve:
    print("Error:", ve)
except ZeroDivisionError as zde:
    print("Error:", zde)

Enter the first number: 8.5
Enter the second number: 2
Enter the operator (+, -, *, /): -
Result: 6.5

**Introduction to Strings**

a string is a sequence of characters. It is a data type that represents text.

In [1]:
# Strings are immutable
a = "khalil!"
print(a)

khalil!

Length of a string

In [ ]:
len(a)

7

slicing technique

In [ ]:
#length is 0 to n-1
print(a[0:3])

kha

negative slicing

In [ ]:
(a[-5:-2])

'ali'

upper and lower case

In [ ]:
a.upper()

'KHALIL!'

In [ ]:
a.lower()

'khalil!'

replace

In [ ]:
print(a.replace( "khalil!","parveen!"))

parveen!

split

In [ ]:
print(a.split())

['khalil!']

Write a Python function to get a string made of 4
copies of the last two characters of a specified string (length must be at least 2).

In [ ]:
str1 = str(input())
def sub_str(str1):
    sub_str = str1[-2:]
    return sub_str * 4
print(sub_str(str1))

khalil
ilililil

Write a Python program to remove the nth index character from a nonempty string.

In [ ]:
strn = str(input())
n = int(input())
def remove_char(str, n):
     first_part = str[:n]
     last_part = str[n+1:]
     return first_part + last_part
print(remove_char(strn, n))

khalil
3
khail

Write a Python program to change a given string to a new string where the first and last chars have been exchanged.

In [ ]:
str1 = str(input())
def change_string(str1):
    return str1[-1:] + str1[1:-1] + str1[:1]
print(change_string(str1))

khalil
lhalik

**List**

 a list is a data structure that stores a collection of data items.

 it is mutable.

Given a list, write a Python program to swap first and last element of the list.

In [ ]:
a = [12, 35, 9, 56, 24]
def new_a(a) :
    return (a[-1:] + a[1:-1] + a[:1])
print(new_a(a))

[24, 35, 9, 56, 12]

Given two numbers, write a Python code to find the Maximum of these two numbers.

In [ ]:
#list are mutable
a = [3,4,10]
a = ["Apple", "apple","zebra"]
print(max(a))

zebra

Given two numbers, write a Python code to find the Minimum of these two numbers.

In [ ]:
a = [3,4,10]
a = ["Apple", "Zebra", "apple","zebra"]
print(min(a))

Apple

Check if an element exists in the list using the if-else statement

In [ ]:
test_list = [1, 6, 3, 5, 3, 4]
n = (int(input()))
if n in test_list :
    print(True)
else :
    print(False)

4
True

list in list

In [ ]:
myList=[[1, 2, 3, 4, 5], [12, 13, 23], [10, 20, 30], [11, 22, 33], [12, 24, 36]]
print(myList[3][2])

33

A list contains the average daily temperature(in degree Celsius) of
 a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [ ]:
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
max_temp = max(temperatures)
max_temp_index = temperatures.index(max_temp)
min_temp = min(temperatures)
min_temp_index = temperatures.index(min_temp)
temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

removing nested

In [ ]:
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
last = tech_companies[-1]
company = tech_companies[:3] + tech_companies[-1]
print(company)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

type check

In [ ]:
print(type(tech_companies))

<class 'list'>

**Tuple**

a tuple is a data structure that is similar to a list, but it is immutable

In [ ]:
my_tuple = (1,'a',3)
my_tuple

(1, 'a', 3)

type check

In [ ]:
print(type(my_tuple))

<class 'tuple'>

indexing tuple

In [ ]:
my_tuple[2]

3

tuple slicing

In [ ]:
my_tuple[1:2]

('a',)

index

In [ ]:
a = (1,2,3,4,5,6,1,2,3,4)
a.index(4)

3

count

In [ ]:
a.count(2)

2

zip()

In [ ]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

In [ ]:
zip(city_list, river_list)

In [ ]:
city_and_their_rivers = list(zip(city_list,river_list))

In [ ]:
city_and_their_rivers

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

**SET** - Sets are an unordered collection of unique elements. We can construct them by using the set() function.

Sets cannot have duplicates.

Sets are mutable just like lists.

You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [2]:
set = {1,1,2,4,5,5,6,4,3}
set

{1, 2, 3, 4, 5, 6}

add()

In [8]:
set.add('a')
set

{1, 2, 3, 4, 5, 6, 'a'}

**update**

method helps to add multiple elements to a set

In [9]:
set.update([8, 7, 9])
set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'a'}

remove()

In [10]:
set.remove(9)
set

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

**union**

In [11]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

**intersection**

In [12]:
A.intersection(B)

{4, 5}

**Dictionaries**

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs

It is mutable

In [14]:
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}
marvel_dict['Name']

'Thor'

**Keys**

In [15]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc'])

place

In [16]:
marvel_dict.get('Place')

'Asgard'

index

In [17]:
employee_dict = {'Name':'Sanket','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,'Promotion Year':[2016,2018,2020]}
employee_dict['Skills'][0]

'Python'

upper

In [18]:
employee_dict['Skills'][0].upper()

'PYTHON'

lower

In [20]:
employee_dict['Skills'][0].lower()

'python'

update

In [22]:
employee_dict.update({'Salary':'2,000,000'})

zip

In [23]:
country_list = ['India','Australia','United States','England']
city_list = ['New Delhi', 'Canberra' , 'Washington DC','London']

In [24]:
country_city_list = list(zip(country_list,city_list))

In [25]:
country_city_list

[('India', 'New Delhi'),
 ('Australia', 'Canberra'),
 ('United States', 'Washington DC'),
 ('England', 'London')]